{% extends "_base.html" %}
{% block title %}About | kedracki.com{% endblock %}
{% block link_url %}{{ absolute_url('/about') }}{% endblock %}
{% block description %}About myself and kedracki.com {% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}
{% block content %}
<h1>Welcome</h1>
<p>
    My name is <b>Antoni Kędracki</b>. I have created this site as a place to share my thoughts and experiences.
    The topics covered reflect my professional focus on developing apps for Apple platforms (e.g. iOS, Mac).
    That said I reserve the right to also write, from time to time, about other topics IT and non-IT related.
</p>
<p>
    This is a fully private endeavour. All opinions stated here are my own. All content is shared in the hope that
    it may be useful. If you would like to share some of it, please be so kind and reference or link back to this
    site.
</p>
{% endblock %}