.post {
    margin: 2rem 0;
}

.post-time {

}

.post-title {
    margin: 0.2rem 0;
}

.post-title-line {
    border-top: 0.2rem solid var(--tint-color);
    width: 4rem;
    transition: all 0.3s ease-out;
}

.post-content {
    margin: 2rem 0;
}

.post-content h1 {
    font-size: 1.9rem
}

.post-content h2 {
    font-size: 1.4rem
}

.post-content h3 {
    font-size: 1.07rem
}

.post-content h4 {
    font-size: 1.0rem
}