{% extends "_base.html" %}
{% block title %}{{ post.title }} | kedracki.com{% endblock %}
{% block link_url %}{{ absolute_url(post.link) }}{% endblock %}
{% block description %}{{ post.short }}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="/css/post.css"/>

    <meta property="og:type" content="article">

{% endblock %}
{% block content %}
<div class="wrap">
    <div class="post">
        <time datetime="" class="post-date">{{ post.date.strftime("%B %d, %Y") }}</time>
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-title-line"></div>
        <div class="post-content">{{ content|safe }}</div>
    </div>
</div>
{% endblock %}